<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>salesforce Form</title>
  </head>
  <body class="flex flex-row justify-center m-auto bg-slate-600 h-[100vh]">
    <form
      action=""
      class="flex flex-col w-1/2 items-center mt-5 bg-slate-700 p-5"
    >
      <h1 class="text-white text-4xl underline mb-5">
        Salesforce visitor webform
      </h1>
      <label for="name" value="name" class="m-2 text-white">Your Name: </label>
      <input
        type="text"
        name="name"
        class="outline outline-1 rounded m-2 w-full"
      />
      <label for="company" value="company" class="m-2 text-white"
        >Company Name:
      </label>
      <input
        type="text"
        name="company"
        class="outline outline-1 rounded m-2 w-full"
      />
      <label for="vat" value="vat" class="m-2 text-white">VAT number: </label>
      <input
        type="number"
        name="vat"
        class="outline outline-1 rounded m-2 w-full"
      />
      <label for="email" value="email" class="m-2 text-white">email: </label>
      <input
        type="text"
        name="email"
        class="outline outline-1 rounded m-2 w-full"
      />
      <label for="phone" value="phone" class="m-2 text-white">Phone: </label>
      <input
        type="text"
        name="phone"
        class="outline outline-1 rounded m-2 w-full"
      />
      <label for="interest" value="interest" class="m-2 text-white"
        >interested in:
      </label>
      <input
        type="text"
        name="interest"
        class="outline outline-1 rounded m-2 w-full"
      />
      <label for="additional" value="additional" class="m-2 text-white"
        >additional info:
      </label>
      <textarea
        type="text"
        name="additional"
        class="outline outline-1 rounded m-2 w-full"
      ></textarea>
    </form>
  </body>
</html>
