<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>salesforce Form</title>
  </head>
  <body class="flex flex-col m-auto bg-slate-600 h-[100vh]">
    <h1 class="text-white flex flex-row justify-center text-4xl underline mb-5">
      Salesforce visitor webform
    </h1>
    <h2 class="text-white flex flex-row justify-center text-4xl mb-5">
      submitted!
    </h2>
  </body>
</html>
